---
import { getEntry, render } from "astro:content";
import PageLayout from "@/layouts/Base.astro";

const doc = await getEntry("docs", "compare");

if (!doc) {
	throw new Error("Comparison doc is missing");
}

const { Content } = await render(doc);
---

<PageLayout
	meta={{
		title: doc.data.title,
		description: doc.data.description,
	}}
>
	<h1 class="title mb-8">{doc.data.title}</h1>
	<article class="prose prose-sm prose-cactus max-w-none">
		<Content />
	</article>
</PageLayout>

