---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, DOC_SOURCE_URL } from '../consts';
---

<header class="site-header">
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/showcase">Showcase</HeaderLink>
			<HeaderLink href="/readinglist">Reading List</HeaderLink>
			<a class="source" href={DOC_SOURCE_URL} target="_blank" rel="noreferrer">Markdown</a>
		</div>
	</nav>
</header>
